/********************
* GAME
********************/

.c-game {
    width: 100vw;
    height: 70vh;
    background: url('../../images/battle-wallpaper.png') no-repeat center center fixed;
}

.c-game-row {
    width: 100%;
    height: 50%;
    padding: var(--size-xl);
    display: flex;
}

/********************
* POKEMON
********************/

.c-pokemon {
    width: 50%;
    height: 100%;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 80%;
        height: 25%;
        background-color: var(--color-gray-light);
        position: absolute;
        left: 10%;
        bottom: 0;
        box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.5);
        border-radius: 50%;
    }
}

.c-pokemon__image {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;

    & img {
        height: 100%;
    }
}

/********************
* POKEMON INFO
********************/

.c-pokemon-info {
    width: 40%;
    height: fit-content;
    background-color: var(--color-sand-light);
    color: var(--color-blue);
    border: var(--size-sm) solid var(--color-sand);
    margin-left: 5%;
    margin-right: 5%;
    padding: var(--size-xl);
    font-size: var(--size-xl);
}

.c-pokemon__hp {
    width: 100%;
    height: var(--size-base);
    background-color: var(--color-sand);
    border-radius: calc(var(--size-base) * 2);
    margin-top: var(--size-sm);
    position: relative;

    &::before {
        content: '';
        width: calc(var(--pokemon-hp-percent) * 1%);
        position: absolute;
        height: 100%;
        border-radius: calc(var(--size-base) * 2);
        background-color: var(--color-blue);
    }
}

/********************
* GAME INFO
********************/

.c-game-info {
    width: 100vw;
    height: 30vh;
    display: flex;
}

.c-message {
    width: 60%;
    height: 100%;
    background-color: var(--color-blue);
    border: var(--size-sm) solid var(--color-sand);
    padding: var(--size-xl);
    color: var(--color-white);
}

/********************
* GAME ACTIONS
********************/

.c-actions {
    width: 40%;
    height: 100%;
    border: var(--size-sm) solid var(--color-dark);
    padding: var(--size-xl);
    display: flex;
    flex-wrap: wrap;
}

.c-actions__action {
    width: calc(50% - calc(var(--size-xs) * 2));
    height: calc(50% - calc(var(--size-xs) * 2));
    margin: var(--size-xs);
    background-color: var(--color-gray);
    color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color-dark);

    &:disabled {
        opacity: .5;
    }
}

.c-actions__action:not(:disabled) {
    &:hover, &:focus, &:active {
        background-color: var(--color-gray-dark);
        cursor: pointer;
    }
}
